* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container-flex,
.flex-box {
    display: flex;
}
.flex {
    display: flex;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pt-2,
.pb-2 {
    padding: 5px 0;
}

/* SIDEBAR SECTION */
.sidebar {
    /* flex: 1; */
    border-right: 0.5px solid rgb(230, 227, 227);
    height: 100vh;
    width: 250px;
    background-color: white;
}

.top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center ul li,
.bottom ul li {
    padding: 8px 2px;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
}

ul li a {
    text-decoration: none;
    list-style-type: none;
    padding-left: 10px;
}

.progress-bar{
    background-color: #D9DDFC;
}
.bar-color {
    background-color:#474CAA;
}


/* MAIN SECTION */
.main {
    /* flex: 6; */
    flex-grow: 1;
}

/* NAV */
nav{
    margin: 0 75px 0 0;
}

input[type=search] {
    width: 47vw !important;
    margin: 7.5px 0 6px 50px;
    padding: 8px;
} 
.search {
    position: relative;
}
.search-icon {
    width: 20px;
    position: absolute;
    left: 70px;
    top: 15px;
}

input::placeholder {
    padding: 50px;
}

.notification-icon {
    width: 20px;
    align-items: center;
    align-content: center;
}

.profile-img {
    width: 30px;
    border-radius: 50%;
    margin: 0 10px;
}

/* container */
.container {
    margin-right: auto;
    margin-left: auto;
    /* padding-right: 15px;
    padding-left: 15px; */
}

.box-margin {
    margin: 10px 50px 0 50px;
}

.box-margin ul {
    list-style-type: none;
    display: flex;
    margin: 20px 0;
}

.box-margin ul li {
    border: 1px solid #EEF0FF;
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 20px;
}

.box-margin ul li:hover {
    background-color: #535BDD;
    cursor: pointer;
    color: white;
}

/* Light blue card */
.light-blue-card {
    background-color: #EEF0FF;
    height: 13.5rem;
    width: 27rem;
    border-radius: 10px;
    padding: 15px;
}

h5 {
    font-weight: normal;
    font-size: 0.8rem;
    padding: 10px 0;
    color: #DAD6E1;
}

h5 span {
    color: #7F81C5;
    padding-left: 5px;
}

h4 {
    font-size: 0.9rem;
}

.time-container {
    width: 70px;
    height: 30px;
    border: 1px solid #E1E3FE;
    background-color: #E1E3FE;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 50px 0;
}

.card-profile-img {
    height: 40px;
    border-radius: 10px;
}
.card-profile-name {
    font-size: 0.8rem;
    padding: 7px 0 0 10px;
}

.hero-min-img {
    width: 12rem;
    position: absolute;
    right: -20px;
    top: -40px;
}

/* SMALL LIGHT BLUE CARD */
.small-light-blue-card {
    background-color: #EEF0FF;
    height: 13.5rem;
    width: 12rem;
    margin-left: 1rem;
    border-radius: 5px;
    padding: 15px;
}

.globe-img {
    width: 4rem;
    position: absolute;
    right: -10px;
    top: -10px;
}

.theme-chat-box {
    margin-left: 50px;
}

.box {
    background-color: #EEF0FF;
    height: 6.5rem;
    width: 8rem;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    text-align: center;
}
.box img {
    width: 50px;
    padding: 10px 0;
}
.box  p {
    padding-top: 7px;
}
.position-relative{
    position: relative;
}

/* DEEP BLUE CARD */

.deep-blue-card {
    background-color: #535BDD;
    height: 13.5rem;
    width: 27rem;
    border-radius: 10px;
    padding: 15px;
    color: white;
}

.profile-box-card {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.deep-blue-time-container {
    width: 70px;
    height: 30px;
    border: 1px solid #303163;
    background-color: #303163;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SMALL DEEP BLUE CARD */
.small-deep-blue-card {
    background-color: #5A61EA;
    color: white;
    width: 12rem;
    border-radius: 5px;
    height: 6.5rem;
    border-radius: 5px;
    padding: 15px;
    margin: 0 0 4px 15px;

}

.small-deep-blue-card p {
    font-size: 0.7rem;
    margin-bottom: 15px;
}

.cicle-profile-box {
    margin-left: 50px;
    width: 17rem;
    
}
.none {
    color: white;
}
.circle-profile-img {
    height: 40px;
    border-radius: 50%;
}

.blue-text {
    color: #7677B6;
}

  
  .sidebar-toggle {
    display: none; /* Hide toggle button by default */
  }
/* MEDIA QUERY */
/* @media (max-width: 375px) {
    .container {
      max-width: 350px;
      }
      nav{
        margin: 0 75px 0 0;
    }
    
    input[type=search] {
        width: 500px !important;
        position: relative;
        left: 180px;
    } 
    
    .search-icon {
        left: 250px;
        top: 15px;
        z-index: 1;
    }

    .flex-box {
        flex-direction: column;
    }
    .light-blue-card {
    height: 23rem;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
}

h4 {
    font-size: 3rem;
}

.time-container {
    width: 150px;
    height: 50px;
}

.card-profile-img {
    height: 100px;
    border-radius: 10px;
}
.card-profile-name {
    font-size: 1.7rem;
    padding: 7px 0 0 10px;
}
.hero-min-img {
    width: 30rem;
    position: absolute;
    right: 0px;
    top: -100px;
}
.small-light-blue-card {
    background-color: #EEF0FF;
    height: 23rem;
    width: 40%;
    margin-left: 0;
}
.globe-img {
    width: 10rem;
    position: absolute;
    right: 0px;
    top: -180px;
}

.theme-chat-box {
    margin-left: 0px;
    position: absolute;
    top:600px;
    right: -600px;
}
.box {
    height: 12rem;
    width: ;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    text-align: center;
}
  } */

/* @media (max-width: 576px) {
    .container {
      max-width: 540px;
      }
  } */
  
  /* @media (max-width: 768px) {
    .container {
      max-width: 720px;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        transition: left 0.3s ease-in-out;
        z-index: 1;
      }
    
      .container.collapsed .sidebar {
        left: 0;
      }
    
      .container.collapsed .content {
        margin-left: 250px;
      }
    
      .sidebar-toggle {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 2;
      }
    
  } */
  
  /* @media (max-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (max-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
   */